{% extends "base.html" %}
{% block title %}<h1>Технологии</h1><br>{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h6>Технологии проекта</h6>
  {% comment %}
  Боковой блок со списком технологий
  Займет всю ширину блока на мобильном
  и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML&CSS
      </li>
    </ul>
  </aside>
  {% comment %}
  Статья
  Займет всю ширину блока на мобильном
  и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>В этом проекте я изучила лучшие практики — State of the Art создания сложных сайтов: веб-фреймворк Django.</p>
  </article>
</div>
{% endblock %}